body {
    background-color: #EEE;
    padding: 5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

header,
main,
aside,
footer {
    padding: 2rem;
    background-color: white;
    border-radius: 0.4rem;
    color: #000;
    min-height: 15em;
    box-shadow: 0 0 1em 0 rgba(0,0,0,0.2);
}

header,
footer {
    flex-basis: 100%;
    min-height: 5em;

}

main {
    flex: 8 1 40rem;
}

aside {
    flex: 2 1 20rem;
}