header {
    border-bottom: 2px solid #000;
    display: flex;
}

header nav {
    margin-left: auto;
}

header nav ul {
    display: flex;
}

header nav a {
    color: rgb(0, 153, 0);
    padding: 0.5em 0.5em;
}

header nav li {
    display: block;
}
