body {
    display: flex;
    justify-content: center;
}
#wrapper {
    position: absolute;
    width: 700px;
    height: 730px;
    border: 1px solid #000000;
    padding: 10px 20px;
    background-color: #a6e1ec;
}

img {
    width: 200px;
    margin-right: 10px;
    vertical-align: middle;
}

ul li {
    list-style-type: none;
    width: 592px;
    padding: 10px;
    margin-bottom: 5px;
    font-size: 14px;
    border: 1px solid #000000;
}

.text {
    color: #3f51b5;
}