@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=PT+Serif&display=swap');

body {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    max-width: 1300px;
    margin: 0 auto; 
}

nav{
    display: inline-block;
}

.navigation{
    padding: 0px 20px;
}

.navigation p{
    display: inline-block;
    font-size: 22px;
    width: 735px;
}

.navigation p span{
    color: #50b9e1;
}

li{
    display: inline-block;
}

li:not(:last-child){
    padding-right: 10px;
}

a {
    text-decoration: none;
    color: black;
}

nav i{
    border: 1px solid black;
    border-radius: 50%;
    padding: 5px;
}

body > header > section.navigation > nav > ul > li:nth-child(5){
    padding-right: 5px;
}

ul {
    padding: 0;
}

.navigation a:hover{
    color: #50b9e1;
    cursor: pointer;
}

/*site header */

.site-header {
    background: 
    linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.6)),
    url("Images/kids_main.jpg") no-repeat center;    
    background-size: cover;  
  }

.site-header h1{
    font-size: 66px;
    color: white ;
    width: 38%;
    margin: 0%;
    padding: 200px 0px 80px 100px;
}

.site-header button {
    font-size: 26px;
    background: transparent;
    border: 2px solid white;
    color: white ;
    padding: 10px 15px;
    margin: 0 0 100px 100px;
}

.site-header button:hover{
    background: #50b9e1;
    border: 2px solid #50b9e1;
    cursor: pointer;
}

/* welcome */

.welcome{
    color: #5a7c8a;
    width: 60%;
    margin:0 auto;
    padding: 20px 0px;
}

h2 {
    text-align: center;
    font-family: 'PT serif', serif;
    font-size: 32px;
    font-style: italic;
    letter-spacing: 2px;
}

.welcome p{
    text-align: center;
}

/* offerts */

.offers {
    background: #50b9e1;
    font-family: 'PT Serif', serif;
    padding: 20px 30px;
    color: white;
}


.offers img{
    width: 70px;
}

.offers li {
    width: 28%;
    text-align: center;
    padding: 20px 30px;
}

.offers a {
    color: white;
}

/* camps */

.camps{
    color: #5a7c8a;
    padding: 20px 0px;
}

body > main > section.camps >p {
    width: 60%;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 30px;
}

.camps img {
    width: 400px;
    height: 250px;
}

.camps li:not(:last-child){
    padding-right: 45px;
}

.camps li {
    width: 400px;
    
}

.info div {
    display: inline-block;
}

.info div p, 
.info div h3{
    margin: 0;
    padding: 0;
}

.info div:nth-child(1){
    width: 339px;
}

.info div:nth-child(2){
    background: #50b9e1;
    padding: 10px;
    color: white;
    font-size: 22px;
}

.info {
    border-bottom: 2px solid #5a7c8a;
    padding-bottom: 10px;
}

.more-info button {
    border : 2px solid #50b9e1;
    color: #50b9e1;
    background: transparent;
    padding: 5px 10px;
    font-size: 18px;
}

.more-info button:hover {
    background: #50b9e1;
    color: white;
    cursor: pointer;
}

/* footer */

footer{
    background: #50b9e1;
    color: #5a7c8a;
    padding: 0px 40px 0px 80px;
}

footer p{
   display: inline-block; 
   width: 86%;
}

footer ul{
    display: inline-block; 
}

footer ul a {
    color: #5a7c8a;
}

footer ul a i{
    border: 1px solid #5a7c8a;
    border-radius: 50%;
    padding: 5px;
}