/* <!-- # 02 - My Home
------
Problems for homework for the [“HTML and CSS Basics”](#) course @ **SoftUni**.

Submit your solutions in the [SoftUni Judge System](https://judge.softuni.bg/Contests/#!/List/ByCategory/165/HTML-and-CSS)

## Constraints
* Change the document **title** to *"My Home"*
* Divide your content into **header** and **main** tags
* Use **article** tag to create two **articles** inside the header
    * Use **h2** tag for headings
* Use **article** tag to create three **articles** inside the main
	* Set the articles **display** property to **inline-block**
* For the paragraphs **text color** use **#656565** 
* Use **img** tag for the image
* Use **"Open Sans", sans-serif** font family
 --> */


/* header */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

article{
    font-family: 'Open Sans', sans-serif;
}
p {
    color: #656565;
    display: inline-block;
}

.left {

    margin-top: 30px;
    float: left;
    margin-left: 200px;
    border-left: 3px solid #656565;
}

.right {
    margin-top: 30px;
    float: right;
    margin-right: 437px;
    border-left: 3px solid #656565;
}

h2, p {
    margin-left: 20px;
}

h2 {
    font-family: sans-serif;
    letter-spacing: 4px;
    font-size: 30px;
    font-weight: 100;
    
}

/* main */

#left{
    font-family: 'Open Sans' sans-serif;
    float: left;
    width: 309px;
    margin-left: 200px;
    margin-top: 30px;
    
}

#center {
    font-family: 'Open Sans' sans-serif;
    float:left;
    width: 309px;
    margin-left: 50px;
    margin-top: 30px;
}

img {
    float: right;
    width: 309px;
    margin-right: 324px;
    margin-top: 30px;
    height: 222px;
    
}

