/* <!-- # 02 - My Home
------
Problems for homework for the [“HTML and CSS Basics”](#) course @ **SoftUni**.

Submit your solutions in the [SoftUni Judge System](https://judge.softuni.bg/Contests/#!/List/ByCategory/165/HTML-and-CSS)

## Constraints
* Change the document **title** to *"My Home"*
* Divide your content into **header** and **main** tags
* Use **article** tag to create two **articles** inside the header
    * Use **h2** tag for headings
* Use **article** tag to create three **articles** inside the main
	* Set the articles **display** property to **inline-block**
* For the paragraphs **text color** use **#656565** 
* Use **img** tag for the image
* Use **"Open Sans", sans-serif** font family
 --> */


/* header */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

header {
    display: inline-block;
}

.left {
    display: inline-block;
    width: 500px;
    margin-left: 363px;
    margin-top: 45px;
    border-left: 3px solid black;
    padding-left: 20px;
}

.right {
    display: inline-block;
    width: 500px;
    margin-left: 185px;
    margin-top: 50px;
    border-left: 3px solid black;
    padding-left: 20px;
}

.left p{
    font-size: 22px;
    color: #656565;
}
.right p{
    font-size: 22px;
    color: #656565;
}

.left h2{
    font-size: 40px;
    font-family: 'Open Sans';
    letter-spacing: 5px;
    font-weight: 100;
    margin-top: 8px;
}

.right h2{
    font-size: 40px;
    font-family: 'Open Sans';
    letter-spacing: 5px;
    font-weight: 100;
    margin-top: 8px;
}

#left{
    display: inline-block;
    font-family: 'sans-serif';
    width: 305px;
    margin-left: 360px;
    font-size: 19px;
}

#center{
    display: inline-block;
    font-family: 'sans-serif';
    margin-top: 30px;
    width: 310px;
    padding-left: 15px;
    font-size: 19px;
}


#right{
    display: inline-block;
    margin-top: 30px;  
    margin-left: 80px;
}

img {
    height: 222px;
    width: 305px;
}
